<h3>予約済みルーム一覧</h3>
 
<table>
  <thead>
    <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>合計料金</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>予約確定日時</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td>
          <% if reservation.room.room_image.attached? %>
            <%= image_tag reservation.room.room_image %>
          <% else %>
            <%= image_tag 'room_default.png' %>
          <% end %>
        </td>
        <td><%= reservation.room.room_name %></td>
        <td><%= reservation.room.room_introduction %></td>
        <td><%= reservation.total_price %></td>
        <td><%= l reservation.start_date %></td>
        <td><%= l reservation.end_date %></td>
        <td><%= l reservation.created_at, format: :long %></td>
      </tr>
    <% end %>
  </tbody>
</table>
